.b_background {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position: absolute;

    background-image: url('../picture/page2.1.png');
}

.b_background_preload {
    background: url("../picture/page2.3.png") no-repeat -9999px -9999px;
}

.lamp-bright {
    background-image: url("../picture/page2.3.png");
}

.shop {
    width: 39.5%;
    height: 35.5%;
    left: 29%;
    top: 36.5%;
    position: absolute;
}

.door {
    position: absolute;
    width: 32%;
    top: 32%;
    height: 68%;
    left: 58.5%;
    overflow: hidden;
}

.door-left, .door-right {
    width: 50%;
    height: 100%;
    position: absolute;
}

.door-left {
    background: url('../picture/door-left.png');
    left: 0%;
    background-size: 100% 100%;
}

.door-right {
    left: 50%;
    background: url("../picture/door-right.png");
    background-size: 100% 100%;
}

/*鸟*/
.bird {
    min-width: 91px;
    min-height: 71px;
    top: 10%;
    position: absolute;
    z-index: 10;
    right: -91px;
    background: url('../picture/bird.png') -182px 0 no-repeat;
}

/*鸟的动画*/
.birdFly {
    -webkit-animation-name: bird-slow;
    -webkit-animation-duration: 400ms;
    /*图片变化部分采用的是CSS3的animation，
    通过设置animation-timing-function: step-start;
    马上跳到动画每一帧结束的状态，这样就让动画执行一帧一帧的切换效果*/
    -webkit-animation-timing-function: step-start;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: bird-slow;
    -moz-animation-duration: 400ms;
    -moz-animation-timing-function: step-start;
    -moz-animation-iteration-count: infinite;
}

@-webkit-keyframes bird-slow {
    0% {
        background-position: -182px 0;
    }
    50% {
        background-position: 0px 0;
    }
    75% {
        background-position: -91px 0;
    }
    100% {
        background-position: -182px 0;
    }
}

@-moz-keyframes bird-slow {
    0% {
        background-position: -182px 0;
    }
    50% {
        background-position: 0px 0;
    }
    75% {
        background-position: -91px 0;
    }
    100% {
        background-position: -182px 0;
    }
}