/*页面的背景样式*/
.a_background {
    width: 100%;
    height: 100%;
    position: relative;
}

.a_background_top {
    width: 100%;
    height: 71.6%;
    background-size: 100% 100%;
    background-image: url("http://img.mukewang.com/55addf6900019d8f14410645.png");
}

.a_background_middle {
    width: 100%;
    height: 13.1%;
    background-size: 100% 100%;
    background-image: url("http://img.mukewang.com/55addf800001ff2e14410118.png");

}

.a_background_bottom {
    width: 100%;
    height: 15.3%;
    background-size: 100% 100%;
    background-image: url("http://img.mukewang.com/55addfcb000189b314410138.png");

}